wallpaper = "/path/to/wp.jpg" # Required for templates
theme = "dark" # Optional. Whether to use dark or light theme

[files]
test = {target = "test", dest = "~/dest/", template = "temp"}
test2 = {target = "test2", dest = "~/dest/name"}

# `temp` is generated into `test`
# `test` is symlinked to `~/dest/test`

# `test2` is symlinked to `~/dest/name`
