wallpaper = "/path/to/wallpaper.jpg" # Required only if using templates

# Material colors configs
theme   = "light"   # ["dark", "light"] default: "dark"
variant = "neutral" # ["monochrome", "neutral", "tonal_spot", "vibrant", "expressive", "fidelity", "content", "rainbow", "fruit_salad"] default: "tonal_spot"

# Custom Variables & Override generated colors
[variables]
custom_var = "value"
base00     = "181818" # override generated base00 color

[files]
config_name = { target = "source/path", dest = "~/.config/target", template = "foo.template" }
